@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Overpass";
}

* {
  border: none;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: #141519;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#primary-container { 
  width: 327px;
  height: 360px;
  background-image: linear-gradient(#222933, #181E27);
  border-radius: 15px;
  margin-bottom: 10px;
}

#rating-state-container {
  margin: 24px 24px 30px 24px
}

.icon-container {
  background-color: #262E38;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

#h1-rating {
  color: #ffffff;
  font-size: 2.4rem;
  word-spacing: 3px;
}

.rating-description {
  color: #969FAD;
  font-size: 1.4rem;
  line-height: 2.2rem;
  word-spacing: .8px;
  text-align: left;
}

.rating-nums {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 25px;
}

.rating-num {
  background-color: #262E38;
  border-radius: 50px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #7C8798
}


.rating-num:hover {
  background-color: #7C8798;
  color: #ffffff;
  cursor: pointer;
}


button {
  width: 100%;
  background-color: #FC7614;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

button:hover {
  background-color: #ffffff;
  color: #FC7614;
  cursor: pointer;
}

button:active {
  background-color: #ffffff;
  color: #FC7614;
  cursor: pointer;
}

.rating-num:focus {
  background-color: #FC7614;
  color: #ffffff;
}

#thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 24px 30px 24px
}

.icon-thank-you {
  margin-top: 15px;
}

.selection {
  background-color: #262E38;
  color: #FC7614;
  padding: 8px 15px;
  font-size: 1.4rem;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.h1-thank-you {
  font-size: 2.4rem;
  word-spacing: 3px;
  color: #ffffff;
}

.thank-you-description {
  color: #969FAD;
  font-size: 1.4rem;
  line-height: 2.1rem;
  word-spacing: .8px;
  text-align: center;
  margin-top: 0px;
}

.attribution a {
  color: #FC7614;
}

@media only screen and (min-width: 450px) {

  #primary-container { 
    width: 412px;
    height: 416px;
    background-image: linear-gradient(#222933, #181E27);
    border-radius: 15px;
    margin-bottom: 10px;
  }

  #rating-state-container {
    margin: 35px 35px 25px 35px
  }

  .icon-container {
    width: 58px;
    height: 58px;
  }

  #h1-rating {
    font-size: 2.8rem;
  }
  
  .rating-description {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .rating-num {
    width: 51px;
    height: 51px;
    font-size: 1.6rem;
  }

  .icon-thank-you {
    margin-top: 20px;
  }

  .selection {
    margin-top: 35px;
    font-size: 1.5rem;
  }

  .h1-thank-you {
    font-size: 2.8rem;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .thank-you-description {
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin: 0 5px 0 5px;
  }

}